---
import { Image } from "astro:assets";

export interface Props {
  category: string;
  title: string;
  description: string;
  id: string;
  imageUrl: {
    src: string;
    width: number;
    height: number;
    format: "png" | "jpg" | "jpeg" | "tiff" | "webp" | "gif" | "svg" | "avif";
  };
}

const { category, title, description, id, imageUrl } = Astro.props;
---

<div class="px-6 py-32 lg:px-8">
  <div class="mx-auto max-w-3xl text-base leading-7 text-base-content">
    <p class="text-base font-semibold leading-7 text-primary">
      {category}
    </p>
    <h1 class="mt-2 text-3xl font-bold tracking-tight sm:text-4xl">
      {title}
    </h1>
    <p class="mt-6 text-xl leading-8 text-base-content/70">{description}</p>
    <Image
      format="avif"
      src={imageUrl}
      alt={title}
      class="mt-6 aspect-[16/9] w-full rounded-2xl bg-neutral object-cover sm:aspect-[2/1] lg:aspect-[3/2]"
      transition:name={`img-${id}`}
    />
    <slot />
  </div>
</div>
