---
import Layout from "../layout/Layout.astro";

const title = "About";
const description = "About me.";
const permalink = Astro.url.href;

const clipText =
  "font-bold bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500";
---

<Layout title={title} description={description} permalink={permalink}>
  <div class="container mx-auto px-4 py-10 md:py-20 min-h-screen">
    <h1 class="text-5xl font-bold max-w-lg mx-auto">About me</h1>
    <div class="flex flex-col my-12 md:my-24 max-w-lg mx-auto">
      <div class="avatar mb-8">
        <div class="w-24 rounded-full">
          <img src="/assets/IMG_0786.png" />
        </div>
      </div>
      <h1 class="text-4xl font-bold mb-8">Hello, and welcome to my website!</h1>
      <p class="text-lg leading-normal mb-8">
        My name is Tom Fan, and I'm a frontend developer with a passion for
        creating engaging user experiences. My main areas of expertise are <span
          class={clipText}>JavaScript</span
        > and <span class={clipText}>React</span>, and I love using these tools
        to build responsive, interactive web applications.
      </p>
      <p class="text-lg leading-normal mb-8">
        In addition to my work as a developer, I also enjoy exploring the world
        of <span class={clipText}>3D modeling</span> and <span class={clipText}
          >Three.js</span
        >.
      </p>
      <p class="text-lg leading-normal mb-8">
        But that's not all - I'm also an avid gamer and <span class={clipText}
          >AI enthusiast</span
        >. I love combining my technical skills with my creative interests to
        build exciting new games and explore the cutting-edge worldof artificial
        intelligence.
      </p>
      <p class="text-lg leading-normal">
        Thanks for stopping by, and I hope you enjoy exploring my website! Feel
        free to get in touch if you have any questions or would like to discuss
        a potential project. I'm always eager to collaborate and bring new ideas
        to life.
      </p>
    </div>
  </div>
</Layout>
