---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import banner from "../assets/banner.png";
import BackgroundImage from "../components/background-image";
import List from "../components/list";
import Sidebar from "../components/sidebar";
import Layout from "../layout/Layout.astro";
import type { Article } from "../type/type";

const title = "Home";
const description =
  "Discovering the optimal approach to a problem can be an enjoyable quest.";

const docs = await getCollection("articles");
const articles: { slug: string; data: Article }[] = docs
  .map((el) => ({
    slug: el.slug,
    data: {
      ...el.data,
      href: "/articles/" + el.slug,
    },
  }))
  .sort(
    (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
  )
  .slice(0, 10);

const tags = articles
  .flatMap((article) => article.data.tags)
  .filter((val, i, arr) => arr.indexOf(val) === i)
  .sort((a, b) => a.localeCompare(b));
---

<Layout title={title} description={description}>
  <BackgroundImage />
  <section>
    <div class="hero relative mx-auto max-w-6xl overflow-hidden px-4 sm:px-6">
      <div class="hero-content flex-col px-0 lg:flex-row-reverse">
        <Image
          src={banner}
          alt="Leetcode Blog Banner"
          class="w-full max-w-sm rounded-lg"
        />
        <div>
          <h1 class="text-5xl font-bold">Cracking LeetCode</h1>
          <p class="py-6">
            By recording and sharing my answers with you, I'll guide you through
            the process, helping you build the confidence and skills.
          </p>
          <a href="/problems/all">
            <button class="btn btn-primary">Get Started</button>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="mx-auto max-w-6xl px-4 sm:px-6">
      <div class="py-8 md:py-16">
        <div class="md:flex md:justify-between">
          <!-- Sidebar -->
          <Sidebar tags={tags} client:only="react" />
          <div class="md:grow">
            <List articles={articles} />
            <div class="grid w-full place-items-center">
              <a
                href="/problems/all"
                class="btn btn-outline btn-primary btn-block max-w-xl rounded-full"
              >
                View More
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
